$fa-font-path: '~font-awesome/fonts';

$font-stack: 'Open Sans', sans-serif;

$breakpoint-small: 400px;
$breakpoint-medium: 600px;
$breakpoint-medium-alt: 800px;
$breakpoint-large: 900px;
$breakpoint-xlarge: 1100px;

$color-primary: #7B889D;
$color-secondary: #FFF ;

$color-alt-primary: #A9C9FF;
$color-alt-secondary: #3CE8AD;